
/* STYLES */
body {
  font-family: 'robotoregular', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background-color: @offWhite;
  color: @textGrey;
}

.clearfix { clear: both; }
[contenteditable]:focus { outline: 0px solid transparent; }

.contentWrapper {
  padding-left: 250px;
}

.sidebar {
  width: 249px;
  border-right: 1px solid @lightActive;
  height: 100%;
  position: fixed;
  margin-left: -250px;
  z-index: 1000;
  background: @light;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.sidebarHeader {
  padding: 10px;
  font-weight: bold;
}

#newPageInput:focus { outline: 0; }
#newPageInput {
  width: 218px;
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
  border-radius: 12px;
  border: 1px solid #d3d3d3;
}

.pageListElement {
  padding: 4px 10px;
  cursor: pointer;
}
.pageListElement--active {
  background: @lightActive;
  color: @textDarkBlue;
}
.pageListElement--title   {
  width: 210px;
  float: left;
}
.pageListElement--delete  {
  float: right;
  text-align: center;
  display: table-cell;
}
.pageListeElement--deleteButton {
  font-size: 8px;
  color: white;
  background: @grey;
  border-radius: 50%;
  padding: 4px;
  vertical-align: middle;
}
.pageElement--actions-clear {
  cursor: pointer;
}

.header {
  height: 3px;
  background: @boldBlue;
}

.pageElement--body {
  margin: 10px;
  padding: 10px;
  background: white;
  border: 1px solid @lightGrey;
  box-shadow: 0px 0px 10px @lightGrey;
}
.pageElement--body-empty {
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: @lightestGrey;
  text-shadow: 1px 1px white;
}

.pageElement--header {
  padding: 10px 10px 0px 10px;
}

.pageElement--meta { float: right; }

.pageElement--actions {
  display: inline-block;
  float: left;
}
